*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    padding: 1rem 0 1rem 2rem;
}

main{
    padding: 1rem;
}

h2{
    padding-top: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    padding-top: 1rem;
    font-family: sans-serif;
}

span{
    background-color: rgb(223, 123, 1);
    padding: .3rem .8rem;
    color: white;
    font-size: .9rem;
}

hr{
    margin: 1rem 0;
}